{% extends 'base.html' %}
{% block content %}

    <h1>{{ loginMsg }}</h1>

    <div class="d-flex justify-content-center">
        <div>

            <div class="shadow card p-3">

                {% if messages %}
                    <div>
                        erreur : 
                        {% for message in messages %}
                            <div class="alert alert-warning" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" name='username' class="form-control" id="username" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Password</label>
                        <input type="password" name='password' class="form-control" id="inputPassword">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>

            <p class="mt-3 p-1 form-text">
                login as admin : 
                <ul>
                    <li class="form-text">username : admin</li>
                    <li class="form-text">password : Epsipython1</li>
                </ul>
            </p>

            <p class="mt-3 p-1 form-text">
                login as regular user :
            <ul>
                <li class="form-text">username : tina</li>
                <li class="form-text">password : Azerty123!</li>
            </ul>
            </p>
        </div>

    </div>

    

{% endblock %}
