{% extends 'base.html' %}
{% block content %}

   

    {% if form.errors %}
        <p>there is an eror with th form</p>
    {% endif %}

    <div class="d-flex justify-content-center">
        <div>

            <h1>Register</h1>

            <div class="shadow card p-3">

                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
                
            </div>

            <p class="mt-3 p-1 form-text">
                password for regular user :
            <ul>
                <li class="form-text">password : Azerty123!</li>
            </ul>
            </p>
        </div>
    </div>

{% endblock %}