{% extends 'base.html' %}
{% block content %}

    <h1>{{ appointmentMsg }}</h1>
    
    <div class="row">
        {% if appointments %}
            {% for appointment in appointments %}
                <div class="col-3">
                    <div class="card m-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ appointment.school}}</h5>
                            <h4 class="card-title">{{ appointment.date|date:"m/d/Y"}}</h4>
                            <p class="card-subtitle mb-2 text-body-secondary">{{ appointment.start_time|time:"H:i" }} à {{ appointment.end_time|time:"H:i" }}</p>
                            {% if user_is_staff == True %}
                                <div class="d-flex flex-column">
                                    {% if appointment.is_booked == True %}
                                        <p>{{ appointment.client }}</p>
                                        <div class="d-flex flex-row">
                                            <a href="#" disable type="button" class="btn btn-danger">Réservé</a>
                                        </div>
                                    {% else %}
                                    {% endif %}
                                </div>
                            {% else %}
                                <a href="{% url 'book_appointment' appointment.id|urlencode %}" type="button" class="btn btn-primary">Réserver</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>



{% endblock %}
