<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <title>Hello</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Pilot School</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'appointments' %}">Planning</a>
                    </li>
              
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if user.is_authenticated %}
                                Hello {{ user.username }}
                            {% else %}
                                Hello
                            {% endif %}
                        </a>
                        {% if user.is_authenticated %}
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'profil' %}">Mon Profil</a></li>
                                <li><a class="dropdown-item" href="member_logout">Logout</a></li>
                                {% if user.is_authenticated and user.is_staff%}
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'schools' %}">ajouter une école</a>
                                </li>
                                {% endif %}
                                {% if user.is_authenticated and user.is_superuser%}
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'admin:index' %}">admin dashboard</a>
                                </li>
                                {% endif %}
                            </ul>
                        {% else %}
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="member_login">Login</a></li>
                                <li><a class="dropdown-item" href="member_register">Register</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                            </ul>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    

    <div class="container p-3">

        {% block content %}
        {% endblock %}

    </div>
    <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1/dist/es-module-shims.min.js"
        crossorigin="anonymous"></script>
    <script type="importmap">
        {
          "imports": {
            "@popperjs/core": "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/esm/popper.min.js",
            "bootstrap": "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.esm.min.js"
          }
        }
        </script>
    <script type="module">
        import * as bootstrap from 'bootstrap'

        new bootstrap.Popover(document.getElementById('popoverButton'))
    </script>

</body>

</html>