{% extends 'base.html' %}
{% block content %}

    <h1>{{ welcomeMsg }}</h1>

    <h4>User Registration</h4>

    <p>Utilisation de django django.contrib.auth et dnago form pour permettre la création d'un nouveau User et personnaliser le formulaire de register.
        <br>Le nouvel User ne sera pas admin
    </p>

    <h4>User Login</h4>
    
    <p>Le login se fait via la username et le password.
        <br>Si le User logger est un Super User alors le dropdown menu de la navbar afichera un lien ver l'admin dashboard
        <br>Le dropdown menu de la navbar affiche des informations différentes selon qu'un User soit ou non logger
    </p>



    <h4>User register</h4>
    
    <p>Il y a un formulaire pour register un nouveau user.
        <br>il est possible ici de cocher la case "is staff". Nous nous sommes basé sur cette option native de Django pour distinguer les user des écoles.
        <br> Seul un user "is staff" peut créer une nouvelle école et donc proposer des RDV
    </p>


    <h4>Onglet : planning</h4>
    
    <p>cette page affiche les événements réservables. Seul les user ( not staff ) peuvent réserver un événement.
    </p> 

    <h4>User connecté</h4>
    
    <p>un fois connecté - en tant que simple user ou école - le dropdown menu de la navbar donne accès une page profil.
        <br> selon que le user connecté soit un un user, une école la page profil présente des infos différentes.
        <br>Si logger en tant que super admin, le dropdown donne accès à l'interface admin
        <br>Sur son profil un User pourra retrouver ses réservations et les annuler. 
    </p>


    <h4>Ecole</h4>
    
    <p>un fois connecté en tant que "user école", sur la page profil, il est présenté toutes les écoles ainsi 
        <br> que les créneau existants pourchaque école. Pour chaque créneau on peut voir si il est libre ou par qui il est réservé.
    </p>
{% endblock %}