{% extends 'base.html' %}

{% block content %}
  <h1>Réserver un rendez-vous</h1>
  <form method="POST" action="{% url 'make_reservation_appointment' appointment_id|urlencode %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Réserver</button>
  </form>
{% endblock %}
