{% extends 'base.html' %}
{% block content %}

    <h1 class="mb-4">Bonjour {{ user.first_name }}</h1>

    {% if user.is_staff == True %}

        <div class="container">
            <div class="d-flex justify-content-between mb-2">
                <h3>Mes écoles</h3>
                <a class="btn btn-primary" href="{% url 'schools' %}">Créer une nouvelle école</a>
            </div>
            {% if schools %}
                {% for school in schoolsInfos %}
                    <div class="card p-3 mb-4">
                        <div class="d-flex justify-content-between mb-2">
                            <h3>{{ school.data }}</h3>
                            <a href="{% url 'add_appointment' school.data.id|urlencode %}" type="button" class="btn btn-primary">Ajouter RDV</a>
                        </div>
                        {% if school.appointments %}
                            <table>
                                <thead class="mb-3">
                                    <tr>
                                        <th colspan="2">Rendez-vous</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for appointment in school.appointments %}
                                        <tr>
                                            <td>{{ appointment.date }}</td>
                                            {% if appointment.is_booked %}
                                                <td>
                                                    <span class="badge text-bg-primary">booké par {{appointment.client }} </span>
                                                </td>
                                            {% else %}
                                                <td>
                                                    <span class="badge text-bg-danger">libre</span>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>Aucun evenement pour cette école</p>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    
    {% else %}

        <div class="container mt-3">

            {% if appointments %}
                <h3>Mes réservations</h3>

                <div class="card p-3 mb-4">
                    <table>
                        <thead class="mb-3">
                            <tr>
                                <th>école</th>
                                <th colspan="2">date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for appointment in appointments %}
                            <tr>
                                <td>{{ appointment.school }}</td>
                                <td>{{ appointment.date }}</td>
                                <td><a href="{% url 'delete_booking' appointment.id|urlencode%} " type="button" class="btn btn-danger">Annuler</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            {% else %}
                <h3>Vous n'avez pas de réservation</h3>
                voir le <a href="{% url 'appointments' %}" class="">planning</a>
            {% endif %}
            
        </div>

    {% endif %}


{% endblock %}