{% extends 'base.html' %}

{% block content %}
  <h1>Créer un rendez-vous</h1>
  <form method="POST" action="{% url 'add_appointment' school.id|urlencode %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Créer</button>
  </form>
{% endblock %}
