{% extends 'base.html' %}

{% block content %}
  <h1>Créer une nouvelle école</h1>
  <form method="post" action="{% url 'add_school' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Créer</button>
  </form>
{% endblock %}